*.log
*.local

dist
node_modules

# Test coverage
coverage

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
